In [1]:
import pandas as pd
import Costs
import Economics

In [2]:
# Load in Type Curve
type_well = pd.read_csv("./type_curve.csv")

In [3]:
# Load in Well Parameters
well_params = pd.read_csv("./econ_params.csv")

In [4]:
my_well = pd.merge(type_well, well_params, left_on = "DATE", right_on = "DATE", how = "outer").fillna(method='ffill')
my_well['DATE']=pd.to_datetime(my_well['DATE'])
# Add 12 Rows for Capital
for i in range(12):
    a = my_well.loc[1, 'DATE'] -  pd.offsets.MonthBegin()
    my_well = pd.concat([pd.DataFrame([{'DATE':a, 'GAS': 0, 'WATER': 0}]), my_well], ignore_index=True).fillna(method='bfill')

C:\Users\brent\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
# Various Parameters

FORMATION = "Utica"
TC_FACTOR = 1.0
LATERAL_LENGTH = 9000

In [6]:
# Populate Capital
def PopulateCapital(well, LATERAL_LENGTH=9000, CAPITAL_FACTOR=1):
    costs = Costs.Costs()
    well['CAPITAL'] = 0
    well.loc[0, 'CAPITAL'] = costs.utica_total_drill(LATERAL_LENGTH) * CAPITAL_FACTOR
    well.loc[8, 'CAPITAL'] = costs.utica_total_completion(LATERAL_LENGTH) * CAPITAL_FACTOR
    well.loc[10, 'CAPITAL'] = costs.prod_equipment(water_injection = 1) * CAPITAL_FACTOR
    well.loc[well.shape[0]-1, 'CAPITAL'] = costs.abandonment() * CAPITAL_FACTOR
    well['GAS'] = well['GAS'] * LATERAL_LENGTH/1000 * 365.25/12
    well['WATER'] = well['WATER'] * LATERAL_LENGTH/1000 * 365.25/12
    return well

In [7]:
def CalculateOpex(well):
    well['OPEX_TOTAL'] = 0
    well['OPEX_TOTAL'] = well['WI'] * (well['FIXED_OPEX'] + (well['VAR_OPEX'] + well['TRANSPORT_GAS']) * well['GAS'] + \
                            well['WATER_OPEX'] * well['WATER'])
    return well

In [8]:
def CalculateRevenue(well):
    well['REVENUE'] = 0
    well['REVENUE'] = well['NRI'] * ( well['GAS_PRICE'] + well['GAS_DEDUCT'] ) * well ['BTU'] * \
                        well['SHRINK'] * well['GAS']
    return well

In [9]:
def CalculateCashflow(well):
    #Operating cashflow is not negative.  Well is not operated if negative cashflow
    well['OPERATING_CASHFLOW'] = well['REVENUE'] - well['OPEX_TOTAL']
    well.loc[well['OPERATING_CASHFLOW'] < 0, 'OPERATING_CASHFLOW'] = 0
    well['TOTAL_CASHFLOW'] = well['OPERATING_CASHFLOW'] - well['CAPITAL']
    return my_well

In [10]:
my_well = PopulateCapital(my_well, LATERAL_LENGTH=9000, CAPITAL_FACTOR=1)

In [11]:
my_well = CalculateOpex(my_well)

In [12]:
my_well = CalculateRevenue(my_well)

In [13]:
my_well = CalculateCashflow(my_well)

In [14]:
my_well['ID'] = "TEST"

In [15]:
economics = Economics.Economics()

In [16]:
economics.generate_well_economics(my_well)

In [17]:
economics.single_well_df

,ID,NPV,IRR,MOIC,F_D,EUR,CAPITAL,CUM_CASHFLOW,OPEX_TOTAL
0,TEST,996389.664408,0.130381,1.075395,0.58442,1.514618e+07,8.851728e+06,9.519100e+06,9.948197e+06

In [ ]:
my_well

In [ ]:
well_params